/* 
 * Inter variable font
 * https://github.com/rsms/inter/releases/tag/v3.19
 */
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: local("Inter var"), url("./fonts/Inter-roman.var.woff2") format("woff2");
}
